@charset "UTF-8";

@charset "UTF-8";

.boardDetail{
	
	text-align: left;
}
.boardDetail-regdate{
	
	font-size: 10px;
	color:gray;
}
.boardDetail-writer{
	
	font-size:15px;
}
.boardDetail-content{
	
}
.btn{
	margin:5px auto;	
}