@charset "UTF-8";

body {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding-top: 150px;
}

input {
	margin: 5px;
}

.btn-submit {
	margin: 20px;
}

.logo>a>img {
	width: 150px;
	height: 150px;
}

.join-container {
	border: 1px solid gray;
	width: 500px;
	height: 100%;
	margin: 30px auto;
}

#mem_pw::placeholder, #mem_pwRe::placeholder {
	font-size: 8px;
}

.join-input {
	width: 300px;
}

.zip {
	width: 150px;
}
/* 아이디,비밀번호, 핸드폰번호 사용 가능 여부 */
.id_ok {
	color: #008000;
	display: none;
}

.id_duplicate {
	color: #ff0000;
	display: none;
}

.id_null {
	color: #ff0000;
	display: none;
}

.pw_ok {
	color: #008000;
	display: none;
}

.pw_rewrite {
	color: #ff0000;
	display: none;
}

.pw_null {
	color: #ff0000;
	display: none;
}

.pwRe_ok {
	color: #008000;
	display: none;
}

.pwRe_rewrite {
	color: #ff0000;
	display: none;
}

.pwRe_null {
	color: #ff0000;
	display: none;
}

.cellNum_ok {
	color: #008000;
	display: none;
}

.cellNum_duplicate {
	color: #ff0000;
	display: none;
}

.cellNum_null {
	color: #ff0000;
	display: none;
}